@media screen and (min-width: 1500px){
    .header{
        height: 100vh;
    }
}
/*タブレット*/
@media screen and (max-width: 1024px){

    .header{
        width: 100%;
        height: 450px;
        margin-top: 70px;
    }

    .header h1{
        font-size: 60px;
        top: 50px;
        left: 15px;
    }

    main{
        height: auto;
    }

    .main_content{
        height: auto;
        display: block;
        flex-wrap: wrap;
    }

    .mainbox{
        margin: 30px 0 30px;
        width: 100%;
        height: auto;
        padding: 15px 0 15px;
    }

    .news_list{
        display: inline-block;
        padding: 0 10% 0;
    }

    /*ハンバーガーメニュー*/

/*============nav=============*/

    .nav{
        position: absolute;
        margin: 0;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgba(250, 128, 114, 0.95);
        -webkit-transition: 0.7s;
        transition: 0.7s;
    }
    .nav ul{
        margin: 0;
        padding-top: 30px;
    }
    .nav ul li{
        display: block;
        height: calc(100vh/5);
        line-height: 50px;
        list-style-type: none;
        font-size: 20px;
    }
    .nav a{
        height: 100%;
        text-shadow: initial;
        margin: 0 15px;
    }

    .nav li a:hover{
        color: #ffffff;
        border-bottom: none;
    }

/*============.toggle_btn=============*/
    #target {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .target_inner{
        width: 30px;
        height: 30px;
    }
    .target_inner_line {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #333;
        -webkit-transition: 1s;
        transition: 1s;
        border-radius: 4px;
    }
    .target_inner_1 {
        top: 4px;
    }
    .target_inner_2 {
        top: 14px;
    }
    .target_inner_3 {
        bottom: 4px;
    } 

    .fadein{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    
    .linea,.lineb,.linec{
        background: #ffffff;
    }

    .linea {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        top: 13px;
    }
    
    .lineb {
        opacity: 0;
    }
    
    .linec {
        -webkit-transform: rotate(-225deg);
        transform: rotate(-225deg);
        top: 13px;
    }

    /*プロフィール*/
    .individual p{
        width: 50%;
    }
    .group img{
        width: 80%;
    }

    /*コンタクト*/
    form{
        width: 80%;
    }

    /*ディスク*/
    .cd_box{
        width: 40%;
    }
    .box2{
        display: block;
    }
    .release_date{
        font-size: 14px;
    }
    .disc_name{
        font-size: 18px;
    }
    .cate{
        padding: 0 7px;
    }

    .item,input[type="submit"]{
        font-size: 14px;
    }
}


/*スマホ*/
@media screen and (max-width: 480px){
    .header{
        background-image: url("../img/main_visual3.jpg");
        width: 100%;
        height: 600px;
        margin-top: 90px;
    }

    .header h1{
        font-size: 50px;
        top: 70%;
    }

    /*メインコンテンツ*/
    .main_content{
        height: auto;
        flex-wrap: wrap;
    }

    .mainbox{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    .news_list{
        padding: 0 5% 0;
    }

    /*ニュース*/
    .wrapper h1,.sub_wrapper h1{
        font-size: 30px;
    }
    .n_date,.label_danger,.label_success{
        font-size: 12px;
    }
    .n_title,.group p,.name p,.release_date{
        font-size: 14px;
    }

    /*プロフィール*/
    .icon img{
        width: 40%;
    }
    .name h2{
        font-size: 24px;
    }
    .name h3,.disc_name{
        font-size: 18px;
    }

    /*ディスク*/
    .cd_box{
        width: 100%;
        padding: 30px 0 30px;
    }
    .cd_box img{
        width: 50%;
    }

    /*コンタクト*/
    label{
        display: block;
        width: 100%;
        position: relative;
    }
    .la{
        position: absolute;
        left: 120px;
        font-size: 10px;
        padding: 1px 2px;
    }
    input,textarea{
        float: left;
        width: 90%;
    }  
    .item{
        padding: 0 15px;
    }

    /*clearfixの設定*/
    .clearfix::after{
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (max-width: 320px){
    .header h1{
        top: 60%;
    }
}